
@import 'bootstrap';

@import 'variables';
@import 'typography';
@import 'loader';
@import 'buttons';

body {

	background: $lightGray;
	min-height: 100vh;
	margin: 0;
	padding: 60px 0 0 0;
	overflow-x: hidden;

}

a {

	color: $green;
	transition: $fastTransition;

	&:hover, &:focus {

		color: darken($green, 40%);

	}

}

p {

	margin: 0;

}

form {

	text-align: center;

	.g-recaptcha {

		div {
	    margin: 0 auto;
	    padding: 0 !important;
		}

	}

}

input, textarea {

	background: none;
	border: 1px solid $lightGray;
	padding: 5px;
	width: 100%;
	text-align: center;

	&:focus {

		border: 1px solid $green;
		box-shadow: $lightGreenShadow;

	}

}

.card {

	border: none;
	margin: 0 0 15px 0;

}

.input-group-text {

	background: $green;
	border: none;
	color: $white;

}

.form-list {

	list-style-type: none;
	margin: 15px 0;
	padding: 0;

	li {

		display: inline-block;

	}

}